<div class="center hero-unit">
	<h1>Bem vindo a Recibos Online</h1>
	<h2>
		Esta é a página de entrada de
		<a href=" http://www.recibo.pt">Recibos Online</a>.
	</h2>
	<%= link_to "Nova Loja", registo_path, class: "btn btn-small btn-primary" %>
	<%= link_to "Nova Categoria", regcat_path, class: "btn btn-small btn-primary" %>
	<%= link_to "Nova Cidade", regcity_path, class: "btn btn-small btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>