<% provide(:title, 'Lojas') %>
<h1>Lojas</h1>

<%= render 'shops/search' %>

<ul class="shops">
  <% @shops.each do |shop| %>
    <li>
      <%= link_to shop.name, shop %>
    </li>
  <% end %>
</ul>
