<% provide(:title, @shop.name) %>
<div class="row">
  <aside class="span4">
    <section>
		<h1>
			<%= @shop.name %>
		</h1>
    <h4>
      <%= @shop.category.category %>
    </h4>
		<h5>
			<%= @shop.address %>, <%= @shop.postalcode %>
		</h5>
	</section>
  </aside>
</div>