<% provide(:title, 'Categorias') %>
<h1>Categorias</h1>

<%= render 'categories/search' %>

<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.category, category %>
    </li>
  <% end %>
</ul>